<ngb-carousel>
  <ng-template ngbSlide>
    <img src="https://static.pexels.com/photos/46710/pexels-photo-46710.jpeg" alt="Random first slide" width="100%" >
    <div class="carousel-caption">
      <h3>Sun</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://static.pexels.com/photos/248159/pexels-photo-248159.jpeg" alt="Random second slide"  width="100%">
    <div class="carousel-caption">
      <h3>Night</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://static.pexels.com/photos/219998/pexels-photo-219998.jpeg" alt="Random third slide"  width="100%">
    <div class="carousel-caption">
      <h3>Beach</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>